{% extends 'layout.html' %}
{% block content %}
    <h1>What is this?</h1>
    <p>Hello, my name is Dominik and what you're seeing right now is a project I decided to create in my spare time.</p>
    <p>The idea was to build an intuitive website used for creating Teamfight Tactics teamcomps and easily share them
        with friends. I highly encourage you to sign up, use it and help me improve this WebApp.</p>
    <p>Technologies I used were:</p>
    <ul>
        <li>Flask - for serverside operations</li>
        <li>HTML/CSS/JS - for client side operations</li>
    </ul>
{% endblock %}

